@model IEnumerable<FUMETTERIA_CAP2._0.Models.Popolare>
@{
    ViewBag.Title = "Index2";
}

<h2 class="text-center">LISTA POPOLARI DEL MESE</h2>


<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5  ">
        @foreach (FUMETTERIA_CAP2._0.Models.Popolare item in Model)
        {

            <div class="mx-4 mx-sm-0 mb-3 slide-in">
                <div class="card color h-100 g-3  " style="width: 12rem;">
                    <img src="~/Content/img/@item.foto" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="card-title text-center"><strong>@item.nome</strong></h6>
                        <p class="card-text mx-5"><strong>@item.serie</strong></p>
                        <div class="text-center">


                            <div >
                                <a href="/Popolari/Details/@item.IDpopolare" class="btn btn-my-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
